// sidebar
$menuText:#ffffff;
$menuActiveText:#fab907;
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#5228c4;
$menuHover:#1a8fff;

$subMenuBg:#623eb1b9;
$subMenuHover:#1a8fff;

$sideBarWidth: 210px;

$tableBg:#fafafa;
$tableText:#000;
$tableTextWeight:600;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  tableBg:$tableBg;
  tableText:$tableText;
  tableTextWeight:$tableTextWeight;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
